### Kaggle survey dataset year 2019

* Removing of columns
* Correction of header
* Splitting columns that contain multiple tools or their versions

In [1]:
import pandas as pd

df19 = pd.read_csv("multiple_choice_responses_2019.csv", low_memory=False)

In [2]:
# list of columns
df19.columns

# columns names in cycle
# for col in df19.columns: 
#      print(col)

# df shape number of rows and columns
df19.shape

(19718, 246)

### Removing of columns from DataFrame

In [3]:
# list of prefixes for removing
prefix = ['Time from Start to Finish (seconds)','Q2_OTHER_TEXT',
          'Q5_OTHER_TEXT', 'Q6', 'Q7', 'Q8',
          'Q9_','Q11', 'Q12_','Q14_Part','Q13_OTHER','Q14_OTHER_', 'Q16_OTHER_',
          'Q17_OTHER_', 'Q18_OTHER_', 'Q19','Q19_', 'Q19_OTHER', 
          'Q20_OTHER','Q21_Part',
          'Q21_OTHER','Q22', 'Q24_Part', 'Q24_OTHER_TEXT',
          'Q25_Part', 'Q25_OTHER', 'Q26_Part', 'Q26_OTHER',
          'Q27_Part', 'Q27_OTHER','Q28_OTHER', 'Q29_Part','Q29_OTHER', 
          'Q30_Part', 'Q30_OTHER', 'Q31_Part', 'Q31_OTHER',
          'Q32_Part', 'Q32_OTHER', 'Q33_Part', 'Q33_OTHER', 'Q34_Part',
          'Q34_OTHER']

# find columns with prefix
columns_to_drop = [
     col for col in df19.columns if any(col.startswith(p) for p in prefix)
     ]
# print(columns_to_drop)

# remove columns from dataframe
df19 = df19.drop(columns=columns_to_drop)

# new dataframe
df19.shape

df19.columns

#columns in new dataframe
for col in df19.columns:
     print(col)

Q1
Q2
Q3
Q4
Q5
Q10
Q13_Part_1
Q13_Part_2
Q13_Part_3
Q13_Part_4
Q13_Part_5
Q13_Part_6
Q13_Part_7
Q13_Part_8
Q13_Part_9
Q13_Part_10
Q13_Part_11
Q13_Part_12
Q14
Q15
Q16_Part_1
Q16_Part_2
Q16_Part_3
Q16_Part_4
Q16_Part_5
Q16_Part_6
Q16_Part_7
Q16_Part_8
Q16_Part_9
Q16_Part_10
Q16_Part_11
Q16_Part_12
Q17_Part_1
Q17_Part_2
Q17_Part_3
Q17_Part_4
Q17_Part_5
Q17_Part_6
Q17_Part_7
Q17_Part_8
Q17_Part_9
Q17_Part_10
Q17_Part_11
Q17_Part_12
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_Part_7
Q18_Part_8
Q18_Part_9
Q18_Part_10
Q18_Part_11
Q18_Part_12
Q20_Part_1
Q20_Part_2
Q20_Part_3
Q20_Part_4
Q20_Part_5
Q20_Part_6
Q20_Part_7
Q20_Part_8
Q20_Part_9
Q20_Part_10
Q20_Part_11
Q20_Part_12
Q23
Q28_Part_1
Q28_Part_2
Q28_Part_3
Q28_Part_4
Q28_Part_5
Q28_Part_6
Q28_Part_7
Q28_Part_8
Q28_Part_9
Q28_Part_10
Q28_Part_11
Q28_Part_12

### Correction of header

Combination of two rows for preparation of main header

In [4]:
#original header
original_cols = df19.columns.tolist()
line_0 = df19.iloc[0].tolist()
# print(original_cols)
# print(line_0)

# new header combination with first one
new_header = [f"{col}_{val}" for col, val in zip(original_cols, line_0)]
# print(new_header)

# setting new header and remove first row
df19.columns = new_header
df19 = df19.iloc[1:].reset_index(drop=True)
df19

,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q10_What is your current yearly compensation (approximate $USD)?,Q13_Part_1_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity,Q13_Part_2_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,Q13_Part_3_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,Q13_Part_4_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,...,Q28_Part_3_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Keras,Q28_Part_4_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - RandomForest,Q28_Part_5_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Xgboost,Q28_Part_6_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - PyTorch,Q28_Part_7_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Caret,Q28_Part_8_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - LightGBM,Q28_Part_9_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Spark MLib,Q28_Part_10_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Fast.ai,Q28_Part_11_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q28_Part_12_Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice - Other
0,22-24,Male,France,Master’s degree,Software Engineer,"30,000-39,999",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40-44,Male,India,Professional degree,Software Engineer,"5,000-7,499",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40-44,Male,Australia,Master’s degree,Other,"250,000-299,999",NaN,Coursera,edX,DataCamp,...,Keras,RandomForest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22-24,Male,India,Bachelor’s degree,Other,"4,000-4,999",NaN,NaN,NaN,NaN,...,NaN,RandomForest,Xgboost,NaN,NaN,LightGBM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19713,18-21,Male,India,Bachelor’s degree,Other,$0-999,NaN,NaN,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,35-39,Male,India,Master’s degree,Student,NaN,NaN,Coursera,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,25-29,Male,India,Master’s degree,Statistician,"1,000-1,999",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,50-54,Male,France,Bachelor’s degree,Software Engineer,"60,000-69,999",NaN,Coursera,edX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spark MLib,NaN,NaN,NaN

Renaming columns in the DataFrame based on a list of new names (stored in the variable text), and then saving the DataFrame to a CSV file, for check

In [5]:
text = """Age
Gender
Country
Education
Current_Role
Current_Yearly_Compensation
Data_Science_Courses_Udacity
Data_Science_Courses_Coursera
Data_Science_Courses_Edx
Data_Science_Courses_Datacamp
Data_Science_Courses_Dataquest
Data_Science_Courses_Kaggle_Courses
Data_Science_Courses_Fast.Ai
Data_Science_Courses_Udemy
Data_Science_Courses_Linkedin_Learning
Data_Science_Courses_University_Courses
Data_Science_Courses_None
Data_Science_Courses_Other
Primary_Tool_Used_For_Data_Analysis
Time_Writing_Code
Ide's_Jupyter
Ide's_RStudio
Ide's_Pycharm
Ide's_Atom
Ide's_Matlab
Ide's_Visual_Studio/VisualStudio_Code
Ide's_Spyder
Ide's_Vim/Emacs
Ide's_Notepad++
Ide's_Sublime_Text
Ide's_None
Ide's_Other
Notebook_Products_Kaggle_Notebooks
Notebook_Products_Colab_Notebooks
Notebook_Products_Azure_Notebooks
Notebook_Products_Google_Cloud_Notebook
Notebook_Products_Paperspace/Gradient
Notebook_Products_Floydhub
Notebook_Products_Binder/Jupyterhub
Notebook_Products_Ibm_Watson_Studio
Notebook_Products_Code_Ocean
Notebook_Products_Aws_Notebook
Notebook_Products_None
Notebook_Products_Other
Programming_Languages_Python
Programming_Languages_R
Programming_Languages_SQL
Programming_Languages_C
Programming_Languages_C++
Programming_Languages_Java
Programming_Languages_Javascript
Programming_Languages_Typescript
Programming_Languages_Bash
Programming_Languages_Matlab
Programming_Languages_None
Programming_Languages_Other
Data_Visualization_Libraries_Ggplot/Ggplot2
Data_Visualization_Libraries_Matplotlib
Data_Visualization_Libraries_Altair
Data_Visualization_Libraries_Shiny
Data_Visualization_Libraries_D3_Js
Data_Visualization_Libraries_Plotly/Plotly_Express
Data_Visualization_Libraries_Bokeh
Data_Visualization_Libraries_Seaborn
Data_Visualization_Libraries_Geoplotlib
Data_Visualization_Libraries_Leaflet/Folium
Data_Visualization_Libraries_None
Data_Visualization_Libraries_Other
Time_Using_Machine_Learning_Methods
Machine_Learning_Frameworks_Scikit_Learn
Machine_Learning_Frameworks_Tensorflow
Machine_Learning_Frameworks_Keras
Machine_Learning_Frameworks_Randomforest
Machine_Learning_Frameworks_Xgboost
Machine_Learning_Frameworks_Pytorch
Machine_Learning_Frameworks_Caret
Machine_Learning_Frameworks_Lightgbm
Machine_Learning_Frameworks_Spark_Mlib
Machine_Learning_Frameworks_Fast.Ai
Machine_Learning_Frameworks_None
Machine_Learning_Frameworks_Other"""

# new column names
new_names = text.strip().splitlines()
# print(new_names)
len(new_names) #length of new list

# df19.columns.value_counts()

# original column names
original_names = df19.columns.tolist()
# print(original_names)
len(original_names) #length of original list

# new dictionary for transcription
transcription = dict()

for i in range(len(original_names)):
    transcription[original_names[i]] = new_names[i]

df19 = df19.rename(columns=transcription)
df19.to_csv("df19_transcription.csv", index=False)
df19

,Age,Gender,Country,Education,Current_Role,Current_Yearly_Compensation,Data_Science_Courses_Udacity,Data_Science_Courses_Coursera,Data_Science_Courses_Edx,Data_Science_Courses_Datacamp,...,Machine_Learning_Frameworks_Keras,Machine_Learning_Frameworks_Randomforest,Machine_Learning_Frameworks_Xgboost,Machine_Learning_Frameworks_Pytorch,Machine_Learning_Frameworks_Caret,Machine_Learning_Frameworks_Lightgbm,Machine_Learning_Frameworks_Spark_Mlib,Machine_Learning_Frameworks_Fast.Ai,Machine_Learning_Frameworks_None,Machine_Learning_Frameworks_Other
0,22-24,Male,France,Master’s degree,Software Engineer,"30,000-39,999",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40-44,Male,India,Professional degree,Software Engineer,"5,000-7,499",NaN,Coursera,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40-44,Male,Australia,Master’s degree,Other,"250,000-299,999",NaN,Coursera,edX,DataCamp,...,Keras,RandomForest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22-24,Male,India,Bachelor’s degree,Other,"4,000-4,999",NaN,NaN,NaN,NaN,...,NaN,RandomForest,Xgboost,NaN,NaN,LightGBM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19713,18-21,Male,India,Bachelor’s degree,Other,$0-999,NaN,NaN,NaN,DataCamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,35-39,Male,India,Master’s degree,Student,NaN,NaN,Coursera,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,25-29,Male,India,Master’s degree,Statistician,"1,000-1,999",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,50-54,Male,France,Bachelor’s degree,Software Engineer,"60,000-69,999",NaN,Coursera,edX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spark MLib,NaN,NaN,NaN

### Splitting columns that contain multiple tools or their versions

Split column Ide's_Visual_Studio/VisualStudio_Code into two columns

In [6]:
col_index = df19.columns.get_loc("Ide's_Visual_Studio/VisualStudio_Code")

# Split column
new_cols = df19["Ide's_Visual_Studio/VisualStudio_Code"].str.split('/', expand=True)
new_cols.columns = ["Ide's_Visual_Studio", "Ide's_Visual_Studio_Code"]  #new names

# Drop original column
df19.drop(columns="Ide's_Visual_Studio/VisualStudio_Code", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 82)

Split column Notebook_Products_Binder/Jupyterhub into two columns

In [7]:
col_index = df19.columns.get_loc("Notebook_Products_Binder/Jupyterhub")

# Split column
new_cols = df19["Notebook_Products_Binder/Jupyterhub"].str.split('/', expand=True)
new_cols.columns = ["Notebook_Products_Binder", "Notebook_Products_Jupyterhub"] 

# Drop original column
df19.drop(columns="Notebook_Products_Binder/Jupyterhub", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 83)

Split column Notebook_Products_Paperspace/Gradient into two columns

In [8]:
col_index = df19.columns.get_loc("Notebook_Products_Paperspace/Gradient")

# Split column
new_cols = df19["Notebook_Products_Paperspace/Gradient"].str.split('/', expand=True)
new_cols.columns = ["Notebook_Products_Paperspace", "Notebook_Products_Gradient"]

# Drop original column
df19.drop(columns="Notebook_Products_Paperspace/Gradient", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 84)

Split column Ide's_Vim/Emacs into two columns

In [9]:
col_index = df19.columns.get_loc("Ide's_Vim/Emacs")

# Split column
new_cols = df19["Ide's_Vim/Emacs"].str.split('/', expand=True)
new_cols.columns = ["Ide's_Vim", "Ide's_Emacs"]

# Drop original column
df19.drop(columns="Ide's_Vim/Emacs", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 85)

Split column Data_Visualization_Libraries_Ggplot/Ggplot2 into two columns

In [10]:
col_index = df19.columns.get_loc("Data_Visualization_Libraries_Ggplot/Ggplot2")

# Split column
new_cols = df19["Data_Visualization_Libraries_Ggplot/Ggplot2"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Ggplot", "Data_Visualization_Libraries_Ggplot2"]

# Drop original column
df19.drop(columns="Data_Visualization_Libraries_Ggplot/Ggplot2", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 86)

Split column Data_Visualization_Libraries_Plotly/Plotly_Express into two columns

In [11]:
col_index = df19.columns.get_loc("Data_Visualization_Libraries_Plotly/Plotly_Express")

# Split column
new_cols = df19["Data_Visualization_Libraries_Plotly/Plotly_Express"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Plotly", "Data_Visualization_Libraries_Plotly_Express"]

# Drop original column
df19.drop(columns="Data_Visualization_Libraries_Plotly/Plotly_Express", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 87)

Split column Data_Visualization_Libraries_Leaflet/Folium into two columns

In [12]:
col_index = df19.columns.get_loc("Data_Visualization_Libraries_Leaflet/Folium")

# Split column
new_cols = df19["Data_Visualization_Libraries_Leaflet/Folium"].str.split('/', expand=True)
new_cols.columns = ["Data_Visualization_Libraries_Leaflet", "Data_Visualization_Libraries_Folium"] 

# Drop original column
df19.drop(columns="Data_Visualization_Libraries_Leaflet/Folium", inplace=True)

# Insert new columns to original position
for i, col_name in enumerate(new_cols.columns):
    df19.insert(col_index + i, col_name, new_cols[col_name])

df19.shape

(19717, 88)

### Rename columns and save DataFrame to CSV

In [13]:
df19.rename(columns={"Notebook_Products_Google_Cloud_Notebook": "Notebook_Products_Google_Cloud_Notebooks"}, inplace=True)

df19.rename(columns={"Machine_Learning_Frameworks_Spark_Mlib": "Machine_Learning_Frameworks_Spark_Mllib"}, inplace=True)

df19.to_csv("df19_final_headers.csv", index=False)

df19.shape

(19717, 88)